<!-- <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
<style>
    li {
        font-size: 14px;
        display: inline;
    }
</style>
<li class="sidebar-nav-item">
    <!-- The attribute 'style="text-decoration:none;' removes the annoying trailing underscore. -->
    <a href="http://github.com/pi-tau" style="text-decoration:none;">
        <i class="fa fa-github-square fa-4x"></i>
    </a>
    <!-- The attribute 'rel="me"' is requested by mastodon for verifying the link. -->
    <a href="https://sigmoid.social/@pitau" rel="me" style="text-decoration:none;">
        <i class="fa fa-mastodon-square fa-4x"></i>
    </a>
    <!-- <a href="http://cloudphotos.github.io">
        <i class="fa fa-camera-retro fa-4x"></i>
    </a> -->
</li>
